

<div align="center">
<img src="/img/personal.jpg" alt="Myself, Niamh Dell and Jameson Feakes" width="75%" align="center">
</div>

I am a composer, sound artist and creative-coder from Perth, Western Australia. I enjoy working with programming in my practice and harnessing the computer to find, organise and create taxonomies of corpora through machine listening and learning. As of 2017, I am a PhD student under the supervision of [Alex Harker](http://www.alexanderjharker.co.uk) and [Steven Jan](https://pure.hud.ac.uk/en/persons/steven-jan) at the University of Huddersfield.

I also run the [Creative Coding Hackspace](https://www.hudhack.space) that is loosely attached to the Huddersfield Creative Coding Lab.

Photography by [Olivia Davies](https://www.oliviabettinadavies.com/) - (she is also a great composer!)