# people

This page is dedicated to collaborators, colleagues, and people whose work I admire.

[Jameson Feakes]
[Alex Harker]
[PA Tremblay]
[Oli Larkin]
[Francesco Cameli]
[Jacob Hart]
[Andie Brown]
[]