@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;700&display=swap');
html {
	/* font-family: -apple-system, BlinkMacSystemFont, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif; */
	font-family: 'Harmattan', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

body {
	color: rgba(0, 0, 0, 0.8);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h2 {
	padding-top: 0.5em;
}

h1 {
	font-size: 2em;
}

a {
color: rgb(80, 0, 209);
}

a:link {
	color: rgb(80, 0, 209);
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: rgb(80, 0, 209);
}

a:hover {
	text-decoration: underline;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

